<!-- <li *ngFor="let item of pokemons?.results">{{item.name}}</li> -->
<!-- <li *ngFor="let item of pokemons?.results">
    <a href="/pokemon/{{item.name}}">{{item.name}}</a>
  </li> -->
<div class="grid bm-8 pt-2 px-5">
  <div class="col-2" *ngFor="let item of pokemons?.results">
    <mat-card appearance="outlined">
      <mat-card-header>
        @if(pokemons){
          <mat-card-title
          [ngStyle]="{
            'margin':'auto',
            'justify-content':'center',
            'display': 'flex'
            }">
            <img src="../../../../assets/pokeball-removebg-preview.png" width="35px">{{item.url | extractIndex}} - {{item.name  | titlecase}}</mat-card-title>
        }
        <!-- <mat-card-subtitle *ngIf="pokemons">{{pokemons.id}}</mat-card-subtitle> -->
      </mat-card-header>
      <!-- <img mat-card-image *ngIf="pokemons" src={{pokemons.sprites.front_default}} alt="Ajani"> -->
      <mat-divider></mat-divider>
      <mat-card-actions >
        <button  mat-flat-button color="accent" (click)="redirectPokemon(item.name)">view</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div>
  <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>
</div>
